.mainCont {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.header {
  width: 100%;
  height: 5vh;
}

.content {
  width: 100%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.leftSidePanel {
  width: 15%;
  min-height: 95vh;
  background: rgb(241, 241, 241);
}

.leftSidePanel ul {
  width: 100%;
  min-height: 5vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftSidePanel ul li {
  width: 100%;
  min-height: 5vh;
  list-style: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: clamp(0.7rem, 0.9rem, 1rem);
}

.taskView {
  width: 85%;
  min-height: 95vh;
  display: flex;
}

#clickable {
  border: solid green 1px;
  width: 95%;
  border-radius: 5px;
  font-weight: normal;
  font-size: clamp(0.7rem, 0.8rem, 1rem);
}

.currentTask {
  width: 25%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  margin-right: 1rem ;
}

.columnHeader {
  width: 100%;
  height: 5vh;
  background: rgb(29, 141, 161);
  display: flex;
  font-weight: bold;
  font-size: clamp(0.7rem, 0.9rem, 1rem);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#completeHeader {
  background: rgb(50, 150, 26);
}

.newTaskCard {
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgb(202, 202, 202);
  width: 90%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 0;
  padding: 0.5rem;
}

.newTaskCard p {
  color: black;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardicon {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.2rem;
}

#iconActual {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(177, 150, 29);
}

.details {
  min-width: 30%;
  flex: 1;
  height: 100%;
}
.details p {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: clamp(0.8rem, 1rem, 1.25rem);
  font-weight: 500;
  line-height: 20px;
  padding-left: 0.3rem;
}

.cardStatus {
  border: solid blue 1px;
  height: 40%;
  width: 100%;
}
